# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm project files
.idea/

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
